
    
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
          <div class="profile">
            
            <img [src]="getImage(UserConnect?.image)" alt=""  id="ItemPreview" class="img-fluid rounded-circle" />
            <h1 class="text-light"><a href="index.html">{{UserConnect?.username}}</a></h1>
         
          </div> 
            <label  for="sidebar-toggle" class="ti-menu-alt"> </label>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a routerLink="home" routerLinkActive="active">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a routerLink="users" routerLinkActive="active">
                        <span class="ti-face-smile"></span>
                        <span>Getion utilisateur</span>
                    </a>
                </li>
                <li>
                    <a routerLink="proprietaires" routerLinkActive="active">

                        <span class="ti-agenda"></span>
                        <span>Getion proprietaires</span>
                    </a>
                </li>
                <li>
                    <a routerLink="immobilierBati" routerLinkActive="active">
                        <span class="ti-clipboard"></span>
                        <span>Getion Immobilier batiment</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-folder"></span>
                        <span>Annonce</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-time"></span>
                        <span>Reservation</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-book"></span>
                        <span>Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-settings"></span>
                        <span>Account</span>
                    </a>
                </li>
                <li>
                    <a (click)="onSignOut()"
                   >
                        <span class="ti-sing"></span>
                        <span>Deconnection</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="main-content">
        
       <router-outlet></router-outlet>
      
    </div>
     
