<html>
  <head>
 
  </head>
  <body>

    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"  class="avatar">
            <img [src]="getImage(UserConnect?.image)" alt="" style="height: 100px ;" id="ItemPreview" class="img-fluid rounded-circle" />
           <br><br>
            <h2><a href="index.html">{{UserConnect?.username}}</a></h2>
        </div>
     
        <ul>
            <a routerLink="home" routerLinkActive="active">
                <li tabindex="0" class="fa fa-home" aria-hidden="true"><span> Home </span></li>
            </a>
            <a *ngIf="UserConnect?.role=='admin'"  routerLink="users" routerLinkActive="active">
                <li tabindex="0" class="fa fa-user" aria-hidden="true" ><span> Getion utilisateur</span></li>
            </a>
        
         <a  routerLink="proprietaires" routerLinkActive="active">
            <li tabindex="0" class="fa fa-tasks" aria-hidden="true">  <span> Getion proprietaires</span></li>
         </a>

         <a routerLink="immobilierBati" routerLinkActive="active">
            <li tabindex="0" class="fa fa-university" aria-hidden="true">  <span> Getion immobilier-Bati</span></li>
         </a>

         <a routerLink="annonce" routerLinkActive="active">
            <li tabindex="0" class="fa fa-map-marker" aria-hidden="true">  <span> Getion annonce</span></li>
         </a>

         <a routerLink="reservation" routerLinkActive="active">
            <li tabindex="0" class="fa fa-calendar" aria-hidden="true">  <span> Getion reservation</span></li>
         </a>
         <a routerLink="client" routerLinkActive="active">
            <li tabindex="0" class="fa fa-check-square" aria-hidden="true">  <span> Getion Client</span></li>
         </a>
         

         <a  routerLink="contrat" routerLinkActive="active">
            <li tabindex="0" class="fa fa-folder-open" aria-hidden="true">  <span> Getion contrat</span></li>
            
        </a>   
         
            <a (click)="onSignOut()">
            <li tabindex="0" class="logout"> <i class="fa fa-sign-out" ></i>  <span style="color: white;"> Deconnection</span></li>
        </a>
        </ul>
        </nav>
    
        
            <router-outlet></router-outlet>
           
       
  

       
  </body>
    </html>