<div class="container" id="main-container">

 

  <div class="card-group">
    <div class="card" >
      <a *ngIf="this.images?.length != 0" (click)="onOpenModal2(img?.id, 'delete')">
      <img class="card-img-top" [src]="getImage2()" style="width: 50rem;"  alt="Card image cap" />
     </a>

     <ul class="navbar-nav mr-auto" *ngIf="images?.length == 0">
      <li class="nav-item active" >
         <a class="nav-link" (click)="onOpenModal(null, 'addImageBati')">Ajouter un  image <span class="sr-only">(current)</span></a>
      </li>
     </ul>
    

    <div class="card-body">
        <h5 class="card-title">{{immobilierBati?.nom}}</h5>
     </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
        Adresse et Localisation : {{immobilierBati?.adresse}} , {{immobilierBati.localisation?.x}} | {{immobilierBati.localisation?.y}}
        </li> 
        <li class="list-group-item">
        Numero Permie : {{immobilierBati?.numeroPermie}}
      </li>
      <li class="list-group-item">
        dimention(longueur,largeur) : {{immobilierBati?.longueur}} , {{immobilierBati?.largeur}}
      </li>
      <li class="list-group-item">
        longueurBati : {{immobilierBati?.longueurBati}} ,
        largeurBati : {{immobilierBati?.largeurBati}}

        </li>
      </ul>
      
    </div>
  </div>
   
    <!--add image bati-->
<div class="card mb-3">
 
    <div class="modal fade" id="addImageBatiModal" tabindex="-1" role="dialog" aria-labelledby="addImageBatiModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addImageModalLabel" >Ajouter un image </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addFormImageBati="ngForm" (ngSubmit)="onAddImageBati(addFormImageBati)">
    
              <div class="form-group">
                <input type="hidden"  name="corespondance" ngModel="immobilierBati" class="form-control" id="corespondance" placeholder="le Corespondance" required>
              </div>
              
              <div class="form-group">
                 <input type="hidden"   name="idCorespondance" ngModel="{{immobilierBati?.id}}" class="form-control" id="idcorespondance" placeholder="le idCorespondance" required>
              </div>
    
              
              <div class="form-group">
                 <label for="img">Image </label>
                 <input type="file" (change)="onFileChanged($event)" ngModel name="img" class="form-control" id="img" placeholder="Image URL" required>
              </div>
              <div class="modal-footer">
                <button type="button"  id="add-IB-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button  [disabled]="addFormImageBati.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
              </form>
           </div>
        </div>
      </div>
    </div>
 </div>


  
  
<!-- add etage -->
<div class="card mb-3">
<div class="modal fade" id="addEtageModal" tabindex="-1" role="dialog" aria-labelledby="addEtageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEtageModalLabel">Ajouter un Etage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addFormEt="ngForm" (ngSubmit)="onAddEtage(addFormEt)">

          <div class="form-group">
             <input type="hidden" hidden name="idImmobilierBati" ngModel="{{immobilierBati?.id}}" class="form-control" id="idImmobilierBati" placeholder="le idCorespondance" >
          </div>
      
          <div class="form-group">
             <label for="numEtage">Numero Etage </label>
             <input type="number"  ngModel name="numEtage" class="form-control" id="numEtage" placeholder="numEtage" required>
          </div>
          
          <div class="form-group">
            <label for="description">Description Etage </label>
            <input type="text"  ngModel name="description" class="form-control" id="description" placeholder="description" required>
         </div>

          <div class="modal-footer">
             <button type="button" id="add-Etage-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button  [disabled]="addFormEt.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>


</div>



<!--view etage-->
<div *ngFor="let etage of etages">
<div class="row">
   <div class="col-12">
		<table class="table table-image">
         <tbody>
            <tr>
         <td class="w-25" >
               <div class="card m-b-30">
                  <div class="card-body">
                     <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{etage?.numEtage}}</h5>
                     </div>
                  </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-phone float-right"></i><h5>Description : {{etage?.description}}</h5></li>
               </ul>
            <div class="card-body">
                  <div class="float-right btn-group btn-group-sm">
                     <a (click)="onOpenModal(etage, 'editEtage')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                     <a (click)="onOpenModal(etage, 'deleteEtage')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                     <a *ngIf="this.images?.length != 0" (click)="onOpenModal2(etage?.id, 'addImageEtage')" class="btn btn-success tooltips" data-placement="top" data-original-title="addImageEtage"><i class="fa fa-plus"></i></a>
                        
                  </div>
             </div>
         </div>
          </td>

          <div *ngFor="let image of images" class="col-md-4">
           <td  class="w-25">
          <img  class="img-fluid img-thumbnail" [src]="getImage(image?.image)" alt="Snow"> 
            </td>
         </div>
   
</tr>
  </tbody>
  </table>

</div>
  

</div>
</div>


  <!--add image Etage-->
  <div class="card mb-3"> 
   <div class="modal fade" id="addImageEtageModal" tabindex="-1" role="dialog" aria-labelledby="addImageEtageModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="addImageEtageModalLabel" >Ajouter un image Etage </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #addFormImageEtage="ngForm" (ngSubmit)="onAddImageEtage(addFormImageEtage)">
   
             <div class="form-group">
               <input type="hidden"  name="corespondance"  ngModel="{{addImageEtage?.id}}" class="form-control" id="corespondance" placeholder="le Corespondance" required>
             </div>
   
             <div class="form-group">
                <input type="hidden"   name="idCorespondance" ngModel="{{immobilierBati?.id}}" class="form-control" id="idCorespondance" placeholder="le idCorespondance" required>
             </div>
   
             
             <div class="form-group">
                <label for="img">Image </label>
                <input type="file" (change)="onFileChanged($event)" ngModel name="img" class="form-control" id="img" placeholder="Image URL" required>
             </div>
             <div class="modal-footer">
                <button type="button" id="add-ImageEtage-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button  [disabled]="addFormImageEtage.invalid" type="submit" class="btn btn-primary" >Save changes</button>
             </div>
             </form>
          </div>
       </div>
     </div>
   </div>
 </div>





 <!-- Edit Modal -->
 <div class="modal fade" id="updateEtageModal" tabindex="-1" role="dialog" aria-labelledby="EtageEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEtageModalLabel">Modifier Etage</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editeForm="ngForm">
             <div class="form-group">
                <label for="name">Numero Etage </label>
                <input type="text" ngModel="{{editEtage?.numEtage}}" name="numEtage" class="form-control" id="numEtage" placeholder="adresse">
             </div>
              <div class="form-group">
                 
                 <input type="hidden" ngModel="{{editEtage?.id}}" name="id" class="form-control" id="id" >
              </div>
              <input type="hidden" ngModel="{{editEtage?.idImmobilierBati}}" name="idImmobilierBati" class="form-control" id="idImmobilierBati" placeholder="id">
               
              
              <div class="form-group">
                 <label for="description">Description</label>
                 <input type="text" ngModel="{{editEtage?.description}}" name="description" class="form-control" id="description"  >
              </div>
            
              <div class="modal-footer">
                 <button type="button"  id="update-Etage-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateEtage(editeForm.value)" data-dismiss="modal" class="btn btn-primary" >Enregistre Etage Modifier</button>
 </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete etage Modal -->
<div class="modal fade" id="deleteEtageModal" tabindex="-1" role="dialog" aria-labelledby="deleteEtageModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteEtageModelLabel">Suprimer Etage</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Vous etez sur de suprimer etage numero {{deleteEtage?.numEtage}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEtage(this.deleteEtage.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            
            </div>
        </div>
     </div>
  </div>
  </div>


  <!-- Delete image Modal -->
<div class="modal fade" id="deleteImageModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Suprimer image</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Vous etez sur de suprimer image de  {{immobilierBati?.nom}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteImage(+this.img?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            
            </div>
        </div>
     </div>
  </div>
  </div>

<!-- Notification for no employees -->
<div *ngIf="immobilierBati.id == null" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NON Image trouver</h4>
   </div>
</div>

<ul class="navbar-nav mr-auto">
   <li class="nav-item active" >
      <a class="nav-link" (click)="onOpenModal(null, 'addEtage')">Ajouter un  Etages <span class="sr-only">(current)</span></a>
   </li>
 </ul>

</div>
