 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Gestion des bâtiments </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="btn btn-outline-secondary"  (click)="onOpenModal(null, 'add')" style="color: white;"><i class="fa fa-plus"></i> Ajouter un bâtiment <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <div class="search-container">
       <form class="form-inline my-2 my-lg-0" >
          <input type="search" style="float: left; clear: both;" (ngModelChange)="searchImmobilierBatis(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="cherchere Bâtiment..." required>
       </form>
      </div>
    </div>
  </nav>
 
 
  <div class="container" id="main-container">
  
    <div *ngFor="let immobilierBati of immobilierBatis"  class="col-md-6 col-xl-3" style="margin-top: 30px;">
      <div class="card m-b-30">
           
          <div class="card-body row">
            <div class="col-6" >
             <!--  <a href="/menu/detail/{{immobilierBati?.id}}"><img [src]="getImage(immobilierBati.id)" style="height: 60px; width: 60px;"  alt=""  ></a>
             -->
             </div>
             <div class="col-6 card-title align-self-center mb-0">
               <h5>{{immobilierBati?.nom}}</h5>
             </div>
          </div>
          <ul class="list-group list-group-flush"> 
            <li class="list-group-item"> Id du proprietaire : {{immobilierBati?.idProprietaire}} </li>
            <li class="list-group-item"> Adresse : {{immobilierBati?.adresse}} </li>
             <li class="list-group-item"> Localisation :{{immobilierBati?.localisation?.x}} | {{immobilierBati?.localisation?.y}}</li>
             <li class="list-group-item"> Numero du Permie : {{immobilierBati?.numeroPermie}}</li>
             <li class="list-group-item"> Surface du terrain : {{+immobilierBati?.longueur*+immobilierBati?.largeur}}  m²</li>
             <li class="list-group-item"> Surface du bâtiment : {{+immobilierBati?.longueurBati*immobilierBati?.longueurBati}} m²</li>
 
            </ul>
          <div class="card-body row">
             <div class="float-right btn-group btn-group-sm align-self-center col-12  ">
               <a (click)="onOpenModal(immobilierBati, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(immobilierBati, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                <a (click)="onViewImmobilierBati(immobilierBati?.id)"  ngModel class="btn btn-success tooltips" data-placement="top" data-original-title="Update" style="color: white;"><i class="fa fa-plus"></i></a>
               <a (click)="onOpenModal(immobilierBati,'addAnnonce')" *ngIf="!this.annoced(immobilierBati?.id)"   class="btn btn-danger tooltips" data-placement="top" data-original-title="" style="color: white;">Annoncer</a> 
               </div>
          </div>
       </div></div>
    
  
  
  <!-- Add Employee Modal -->
  <div class="modal fade" id="addImmobilierBatiModal" tabindex="-1" role="dialog" aria-labelledby="addImmobilierBatiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addImmobilierBatiModalLabel">Ajouter immobilierBati</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddImmobilierBati(addForm)">
               <div class="form-group">
                  <label for="name">immobilierBati nom</label>
                  <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="nom immobilier" required>
               </div>
            <div class="form-group">
               <label for="name">immobilierBati adresse</label>
               <input type="text" ngModel name="adresse" class="form-control" id="adresse" placeholder="adresse immobilier" required>
            </div>

            <div class="form-group">
               <label for="typeProprietaire">type propritaire</label>
               <select [(ngModel)]="typep" name="typeProprietaire" class="form-control" id="typeProprietaire" placeholder="Proprietaire" required>
                 <option value="proc1" selected>proc1</option>
                 <option value="proc2" >proc2</option>
               </select>
               </div>
               <div class="form-group">
                  <label for="idProprietaire">id propritaire</label>
               <select   ngModel *ngIf="typep=='proc1'" name="idProprietaire" class="form-control" id="idProprietaire" placeholder="Proprietaire" required>
              <option  disabled > choisir proprietaire </option>    
              <option *ngFor="let Proprietaire of proC1s" value="{{Proprietaire?.id}}">
                  {{Proprietaire?.nom}} 
                  {{Proprietaire?.prenom}}
              </option>
              </select>
              <select   ngModel *ngIf="typep=='proc2'" name="idProprietaire" class="form-control" id="idProprietaire" placeholder="Proprietaire" required>
               <option selected disabled > choisir proprietaire </option>  
               <option *ngFor="let Proprietaire of proC2s" value="{{Proprietaire?.id}}">
               {{Proprietaire?.nom}} 
               {{Proprietaire?.prenom}}
           </option>
              </select>
          </div>
      
            <div class="form-group">
               <label for="localisation">Localisation </label>
               <input type="number" ngModel name="x" class="form-control" id="x" placeholder="x" step="any" required>
               <input type="number" ngModel name="y" class="form-control" id="y" placeholder="y" step="any" required>
            </div>
            <div class="form-group">
               <label for="numeroPermie">numeroPermie</label>
               <input type="text" ngModel name="numeroPermie" class="form-control" id="numeroPermie" placeholder="numeroPermie" required>
            </div>
            <div class="form-group">
               <label for="longueur">longueur</label>
               <input type="number" ngModel name="longueur" class="form-control" id="longueur" placeholder="longueur" required>
            </div>
            <div class="form-group">
                <label for="largeur">largeur</label>
                <input type="number" ngModel name="largeur" class="form-control" id="larguer" placeholder="longueur" required>
             </div>  
             <div class="form-group">
               <label for="longueurBati">longueurBati</label>
               <input type="number" ngModel name="longueurBati" class="form-control" id="longueurBati" placeholder="longueurBati" required>
            </div>
            <div class="form-group">
                <label for="largeurBati">largeurBati</label>
                <input type="number" ngModel name="largeurBati" class="form-control" id="largeurBati" placeholder="largeurBati" required>
             </div>  

            <div class="modal-footer">
               <button type="button" id="add-immobilierBati-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updateImmobilierBatiModal" tabindex="-1" role="dialog" aria-labelledby="immobilierBatiEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateImmobilierBatiModalLabel">Modifier immobilier</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editeForm="ngForm">
               <div class="form-group">
                  <label for="name">nom ImmobilierBati</label>
                  <input type="text" ngModel="{{editImmobilierBati?.nom}}" name="nom" class="form-control" id="nom" placeholder="adresse">
               </div>
                <div class="form-group">
                   <label for="name">Adresse ImmobilierBati</label>
                   <input type="text" ngModel="{{editImmobilierBati?.adresse}}" name="adresse" class="form-control" id="adresse" aria-describedby="emailHelp" placeholder="adresse">
                </div>
                <input type="hidden" ngModel="{{editImmobilierBati?.id}}" name="id" class="form-control" id="id" placeholder="id">
                   <div class="form-group">
                     <select [(ngModel)]="typep" name="typeProprietaire" class="form-control" id="typeProprietaire" placeholder="Proprietaire" required>
                       <option value="proc1" selected>proc1</option>
                       <option value="proc2" >proc2</option>
                     </select>
                     </div>
                     <div class="form-group">
                     <select *ngIf="typep =='proc1'" ngModel name="idProprietaire" class="form-control" id="idProprietaire" placeholder="Proprietaire" required>
                    <option ngModel="{{editImmobilierBati?.idProprietaire}}"> {{editImmobilierBati?.idProprietaire}} </option>    
                    <option *ngFor="let Proprietaire of proC1s" value="{{Proprietaire?.id}}">
                        {{Proprietaire?.nom}} 
                        {{Proprietaire?.prenom}}
                    </option>
                    </select>
                    <select *ngIf="typep =='proc2'" ngModel name="idProprietaire" class="form-control" id="idProprietaire" placeholder="Proprietaire" required>
                     <option ngModel="{{editImmobilierBati?.idProprietaire}}"> {{editImmobilierBati?.idProprietaire}} </option>    
                     <option *ngFor="let Proprietaire of proC2s" value="{{Proprietaire?.id}}">
                     {{Proprietaire?.nom}} 
                     {{Proprietaire?.prenom}}
                 </option>
                    </select>
                </div>
                <div class="form-group">
                   <label for="role">localisation immobilier</label>
                   <input type="number" ngModel="{{editImmobilierBati?.localisation?.x}}" name="localisationx" class="form-control" id="localisationx" placeholder="x" step="any" required>
                   <input type="number" ngModel="{{editImmobilierBati?.localisation?.y}}" name="localisationy" class="form-control" id="localisationy" placeholder="y" step="any" required>
                </div>
                
                <div class="form-group">
                   <label for="numeroPermie">Numero Permie</label>
                   <input type="text" ngModel="{{editImmobilierBati?.numeroPermie}}" name="numeroPermie" class="form-control" id="numeroPermie"  placeholder="numero Permie">
                </div>

                <div class="form-group">
                    <label for="">longueur et largeur</label>
                    <input type="number" ngModel="{{editImmobilierBati?.longueur}}" class="form-control" name="longueur" id="longueur" placeholder="longueur" step="any" required>
                    <input type="number" ngModel="{{editImmobilierBati?.largeur}}" class="form-control" name="largeur" id="largeur" placeholder="largeur" step="any" required>
                 </div>
                 <div class="form-group">
                  <label for="role">longueurBati et largeurBati</label>
                  <input type="number" ngModel="{{editImmobilierBati?.longueurBati}}" class="form-control" name="longueurBati" id="longueurBati" placeholder="longueurBati" step="any" required>
                  <input type="number" ngModel="{{editImmobilierBati?.largeurBati}}" class="form-control" name="largeurBati" id="largeurBati" placeholder="largeurBati" step="any" required>
               </div>
              
                <div class="modal-footer">

                   <button type="button"  id="update-immobilierBati-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateImmobilierBati(editeForm)" data-dismiss="modal" class="btn btn-primary" >Enregistre utilisateur</button>
   </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteImmobilierBatiModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Suprimer batiment</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Vous etez sur de suprimer Immobilier avec ladress {{deleteImmobilierBati?.adresse}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteImmobilierBati(deleteImmobilierBati?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  
  <!-- Add Employee Modal -->
 <div class="modal fade" id="addAIModal" tabindex="-1" role="dialog" aria-labelledby="addProC1ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addProC1ModalLabel">Ajouter un annonce interne </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addFormAI="ngForm" (ngSubmit)="onAddAI(addFormAI)">
            <input type="number"hidden="" ngModel="{{currentImmob?.id}}" name="idImmobilier" class="form-control" id="idImmobilier" placeholder="idImmobilier" required>

            <div class="form-group">
                        <label for="type">Type</label>
                        <select [(ngModel)]="type" name="type" class="form-control" id="type" placeholder="type" required>
                           <option value="Location" >Location</option>    
                           <option   value="Vente"> Vente</option>
                        </select>
                       </div>
                     <div class="form-group">
                        <label for="idContrat">Contrat   </label>
                        <select ngModel *ngIf="type=='Location'" name="idContrat" class="form-control" id="idContrat" placeholder="Proprietaire" required>
                            <option value="" disabled selected>contrat location</option>    
                            <option *ngFor="let contratLocation of contratLocations" value="{{contratLocation?.id}}">
                                {{contratLocation?.id}}
                            </option>
                         </select>
                         <select ngModel *ngIf="type=='Vente'" name="idContrat" class="form-control" id="idContrat" placeholder="Proprietaire" required>
                           <option value="" disabled selected>contrat vente</option>    
                           <option *ngFor="let contratVente of contratVentes" value="{{contratVente?.id}}">
                               {{contratVente?.id}}
                           </option>
                        </select>
                     </div>
           <div class="form-group">
              <label for="dateDebut">Date debut annonce</label>
              <input type="date" ngModel name="dateDebut" class="form-control" id="dateDebut" placeholder="le Nom" required>
           </div>
            
           <div class="form-group">
            <label for="description">Description </label>
            <input type="text" ngModel name="description" class="form-control" id="description" placeholder=" " required>
          </div>
         
           <div class="modal-footer">
              <button type="button" id="add-AI-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addFormAI.invalid" type="submit" class="btn btn-primary" >Save changes</button>
           </div>
           </form>
        </div>
     </div>
   </div>
   </div>

   <div class="modal fade" id="addAEModal" tabindex="-1" role="dialog" aria-labelledby="addProC1ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addProC1ModalLabel">Ajouter Annonce Externe </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addFormAE="ngForm" (ngSubmit)="onAddAE(addFormAE)">
              
                    <input type="number" hidden="" ngModel="{{currentImmob?.id}}" name="idImmobilier" class="form-control" id="idImmobilier" placeholder="idImmobilier" required>
                         
              <div class="form-group">
                 <label for="dateDebut">Date debut annonce</label>
                 <input type="date" ngModel name="dateDebut" class="form-control" id="dateDebut" placeholder="le Nom" required>
              </div>
              <div class="form-group">
               <label for="dateFinAnnonce">Date de fins Annonce</label>
               <input type="date" ngModel name="dateFinAnnonce" class="form-control" id="dateFinAnnonce" placeholder="le Nom" required>
            </div>
              <div class="form-group">
                 <label for="type">Type</label>
                 <select ngModel name="type" class="form-control" id="type" placeholder="type" required>
                    <option value="Location" >Location</option>    
                    <option   value="Vente"> Vente</option>
                 </select>
                </div>
              <div class="form-group">
                 <label for="prxiImmobilier">Prix </label>
                 <input type="number" ngModel name="prxiImmobilier" class="form-control" id="prxiImmobilier" placeholder=" " required>
              </div>
              <div class="form-group">
               <label for="fraisAnnonce">Frais d'Annonce </label>
               <input type="number" ngModel name="fraisAnnonce" class="form-control" id="fraisAnnonce" placeholder=" " required>
            </div>
              <div class="form-group">
               <label for="description">Description </label>
               <input type="text" ngModel name="description" class="form-control" id="description" placeholder=" " required>
             </div>
            
              <div class="modal-footer">
                 <button type="button" id="add-AE-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addFormAE.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
              </form>
           </div>
        </div>
      </div>
      </div>
  
  <!-- Notification for no employees -->
  <div *ngIf="immobilierBatis?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NON immobilier !!</h4>
    <p>No immobilier trouver</p>
  </div>
  </div>
  </div>
  
  