
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="menu/client" class="navbar-brand" style="color:white;">Gestion Des Location</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="btn btn-outline-secondary" (click)="onOpenModal(null, 'add')" style="color: white;"> <i class="fa fa-plus"></i>  Ajouter un client <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <div class="search-container">
       <form class="form-inline my-2 my-lg-0">
          <input type="search" style="float: left; clear: both;"  #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="cherchere client..." required>
       </form>
    </div>
   </div>
</nav>
<div class="container" id="main-container">
     
   
      
     <div *ngFor="let location of locations" class="col-md-6 col-xl-3" style="margin-top: 30px;">
        <div class="card m-b-30">
           <div class="card-body row">
              
              <div class="col-6 card-title align-self-center mb-0">
                 <h5>{{ location?.dateDebut}}</h5>
              </div>
           </div>
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>id Client : {{ location?.idClient}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>date de fin : {{location?.dateFin}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>montant Encaissé : {{location?.montEncais}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>id contrat de localition : {{location?.idcontratLocalition}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>id Immobilier : {{location?.idImmobilier}}</li>
             </ul>
           <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                 <a (click)="onOpenModal(location, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                 <a (click)="onOpenModal(location, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
              </div>
           </div>
        </div>
     </div>
   
   <!-- Add Employee Modal 
   <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addProC1ModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="addProC1ModalLabel">Ajouter un client </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #addForm="ngForm" (ngSubmit)="onAddClient(addForm)">
             <div class="form-group">
                <label for="Nom">Nom</label>
                <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="le Nom" required>
             </div>
             <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="le Prenom" required>
             </div>

             <div class="form-group">
               <label for="authnom">Auth nom</label>
               <input type="text" ngModel name="authnom" class="form-control" id="authnom" placeholder="le authnom" required>
            </div>
          
             <div class="form-group">
                <label for="nni">NNI </label>
                <input type="number" ngModel name="nni" class="form-control" id="nni" placeholder=" " required>
             </div>
             <div class="form-group">
                <label for="password">Password </label>
                <input type="password" value="1234" name="password" class="form-control" id="password" placeholder="password" required>
             </div>
             <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="text" ngModel name="telephone" class="form-control" id="telephone" placeholder="telephone " required>
             </div>
          
             <div class="form-group">
                <label for="image">Image </label>
                <input type="file" (change)="onFileChanged($event)" ngModel name="image" class="form-control" id="image" placeholder="Image URL" >
             </div>
             <div class="modal-footer">
                <button type="button" id="add-Client-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
             </div>
             </form>
          </div>
       </div>
     </div>
     </div>-->
   
   <!-- Edit Modal
   <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="ProC1EditModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="updateUserModalLabel">Modifier le Client {{editeClient?.nom}}{{ editeClient?.nom }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #editFormProC1="ngForm">
                 <div class="form-group">
                    <label for="nom">Nom </label>
                    <input type="text" ngModel="{{editeClient?.nom}}" name="nom" class="form-control" id="nom" aria-describedby="nom" placeholder="username">
                 </div>
                 <input type="hidden" ngModel="{{editeClient?.id}}" name="id" class="form-control" id="id"  >
                 <div class="form-group">
                   <label for="prenom">Prenom</label>
                   <input type="text" ngModel="{{editeClient?.prenom }}" name="prenom" class="form-control" id="prenom" name="prenom" placeholder="prenom" required>
                </div>
                
                 <div class="form-group">
                   <label for="nni">NNI</label>
                   <input type="text" ngModel="{{editeClient?.nni }}" name="nni" class="form-control" id="nni"   placeholder="nni" required>
                </div>
                 <div class="form-group">
                   <label for="password">Password</label>
                   <input type="text"  ngModel="1234" name="password" class="form-control" id="password" name="password" placeholder="password" required>
                </div> 
                
                
                 <div class="form-group">
                    <label for="telephone">Phone</label>
                    <input type="text" ngModel="{{editeClient?.telephone}}" name="telephone" class="form-control" id="telephone"  placeholder="telephone">
                 </div>
               
                 <div class="form-group">
                   <label for="img">Image </label>
                   <input type="file" (change)="onFileChanged($event)" ngModel name="image" class="form-control" id="image" placeholder="Image URL" >
                </div>-
                 <div class="modal-footer">
                    <button type="button"  id="update-Client-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button (click)="onUpdateClient(editFormProC1.value)" data-dismiss="modal" class="btn btn-primary" >Enregistre utilisateur</button>
                 </div>
              </form>
           </div>
        </div>
     </div>
   </div> -->
   
   <!-- Delete Modal 
   <div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Suprimer Clieny</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <p>Vous etez sur de suprimer le Client {{deleteClient?.id}}?</p>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                 <button (click)="onDeleteClient(deleteClient?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
           </div>
        </div>
     </div>
    </div>-->
   
   
   <!-- Notification for no employees 
   <div *ngIf="clients?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
       <h4 class="alert-heading">NON Client   !!</h4>
        <p>Non Client trouver</p>
      </div>
   </div>
 -->
 
 
</div>