
<div class="top" >
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style=" width:400px;
      height:400px;
      object-fit:cover;
      object-position:50% 50%;"   [src]="getImage(imageCurentImmobilier)" alt="First slide">
    </div>
    <div class="carousel-item"*ngFor="let img of imagesEtage ">
      <img [src]="getImage(img?.image)" style=" width:400px;
      height:400px;
      object-fit:cover;
      object-position:50% 50%;"   class="d-block w-100" >
   </div>
 </div>
    
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="card">
  <div class="card-header">
  <h3> {{immobilierBati?.nom}}, {{immobilierBati?.adresse}}</h3> 
  </div>
  <div class="card-body">
    <table style="width: 100%;">
      <tr>
        <td>
         <h2>{{prixCurentImmobilier}} UM</h2>
        </td>
        <td>
          <h2>{{(+immobilierBati?.longueur*+immobilierBati?.largeur)}}m²</h2>
         </td>
         <td>
          <h2>{{(immobilierBati?.longueurBati*immobilierBati?.largeurBati)}}m²</h2>
         </td>
         <td>
          <h2>{{etages?.length}}</h2>
         </td>
         <td rowspan="2" style="text-align: center;
    vertical-align: center;">
           <agm-map [latitude]='lat' [longitude]='long' [zoom]='zoom'
   [draggable]= 'false'
   [scrollwheel]='false'>          
            <agm-marker 
                [latitude]="lat" 
                  [longitude]="long"
                  iconUrl="../assets/img/icon1.png"
                  class="map-icon">    
                   <agm-info-window #infoWindow>
                          {{label}}
                    </agm-info-window>
    
            </agm-marker>  
        </agm-map>
         </td>
      </tr>
      <tr>
        <td>
          <h4>Prix {{annonceExetrne?.type}}{{annonceInetrne?.type}}</h4>
        </td>  
        <td>
         <h4>Surface terrain</h4>
        </td> 
        <td>
          <h4>Surface batiment</h4>
         </td>  
        <td>
          <h4>étage<ng-container *ngIf="etages?.length > 1">s</ng-container> </h4>
         </td>  
         <td>
          <h4></h4>
         </td>  
         
      </tr>

  </table>
  </div>

</div> <br> <br>
  <table style="width: 100%; border-top: 1px solid rgb(184, 184, 184);">
  <tr>
    <td style="vertical-align: bottom;  height: 80px; width: 70%;" ><p>
 {{annonceExetrne?.description}} 
 {{annonceInetrne?.description}} 
</p></td>
    <td style="text-align: center;
    vertical-align: bottom;" >
      <button *ngIf="isAuth" class="btn btn-success " data-toggle='modal' data-target='#addClientModal'>  Reserve l'immobilier</button>
  
      <button *ngIf="!isAuth" class="btn btn-success " data-toggle='modal' disabled> Reserve l'immobilier</button>
  
      <a routerLink="/principale/auth/signin"  *ngIf="!isAuth" style=" color: blue;"><h6> Connecte pour reserve un l'immobilier ?</h6></a>
  
         </td>
  </tr>
  </table>
       
<br/>

    <div  *ngFor="let etage of etages">
{{getImageEtage(etage.id)}}
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let img of imagesEtage" >
        <img  [src]="getImage(img?.image)" style=" width:200px;
        height:200px;
        object-fit:cover;
        object-position:50% 50%;"   class="d-block w-100" >
      
     </div>
   </div>
      
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

  <table style="width: 100%; border-top: 1px solid rgb(184, 184, 184);">
    
    <tr style="vertical-align: bottom;  height: 70px; text-align: center;" >
      <td>
        <img src="../assets/img/livingroom.png" alt="" class="d-inline-block align-middle mr-2">
      </td>
          <td>
            <img src="../assets/img/kitchen.png" alt="" class="d-inline-block align-middle mr-2">
          </td>
        <td>
          <img src="../assets/img/shower.png" alt="" class="d-inline-block align-middle mr-2">
        </td>   
      <td>
        <img src="../assets/img/living-room.png" alt="" class="d-inline-block align-middle mr-2">
      </td>
          <td>
            <img src="../assets/img/garage.png" alt="" class="d-inline-block align-middle mr-2">
          </td> 
   
  </tr>
    
    <tr style="vertical-align: bottom;  height: 40px; text-align: center;">
      <td><h4>{{etage?.nbrChambre}}</h4></td>
          <td><h4>{{etage?.nbrCuisin}}</h4></td>
        <td><h4>{{etage?.nbrDouche }}</h4></td>   
      <td> <h4>{{etage?.nbrSalle }} </h4></td>
          <td><h4>{{etage?.nbrGarage }} </h4></td> 
   
  </tr>
  </table>

</div>
    <!--  -->
  
  <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addProC1ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addProC1ModalLabel">Remplissez la duree de réservation </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddClient(addForm)">
           
         
            <div class="form-group">
              <label for="telephone">Duree de réservation</label>
              <select type="number" [(ngModel)]="this.dureeDeReservation"  class="form-control"  placeholder="telephone " required>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
              </select>
              </div>
            <div class="modal-footer">
               <button type="button" id="add-Client-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Envoi demande</button>
            </div>
            </form>
         </div>
      </div>
    </div>
   </div>


    </div>











