<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="getImage(imageCurentImmobilier)"/>
      <h1>{{immobilierBati?.nom}}</h1>
      <h4>{{immobilierBati?.adresse}}</h4>
      <h4>SURFACE DU TERRAIN :{{(+immobilierBati?.longueur*+immobilierBati?.largeur)}}m²</h4>
      <h4>SURFACE DU BATIMENT :{{(immobilierBati?.longueurBati*immobilierBati?.largeurBati)}}m²</h4>
          <h3>Prix de {{annonceExetrne?.type}}{{annonceInetrne?.type}}  {{prixCurentImmobilier}}</h3>
    </div>
    <div class="movie_desc">
      <p class="text">
           {{annonceExetrne?.description}} 
           {{annonceInetrne?.description}} 
      </p>
      <button class="btn btn-success " data-toggle='modal' data-target='#addClientModal'> Reserve l'immobilier</button>
    </div>



    






  </div>
  <div class="blur_back bright_back"></div>
</div>
 
    <div *ngFor="let etage of etages">
      <div class="row">
        <section class="col-md-3">
          <div>
          {{getImageEtage(etage?.id)}}
       <h3><p> Etage  {{etage?.numEtage}}</p></h3> 
        <div style="height: 60px; ; width:70px;float: left;margin:2px; background-color: rgb(197, 206, 214);align-content: center;"> Chambre<P style="text-align: center;"> {{etage?.nbrChambre}} </P> </div>
        <div style="height: 60px;width: 70px;float: left;margin:2px;background-color: rgb(197, 206, 214);align: center;">Cuisin <p style="text-align: center;"> {{etage?.nbrCuisin}} </p></div>
        <div style="height: 60px;width: 70px;float: left;margin:2px;background-color: rgb(197, 206, 214);align: center;">  <i class="fa fa-bath fa-3x" style="  color: black;" aria-hidden="true"></i><p style="text-align: center;">{{etage?.nbrDouche }}</p>  </div> 
      
        <div style="height: 60px;width: 70px;float: left;margin:10px;background-color: rgb(197, 206, 214);">Salle <p style="text-align: center;">  {{etage?.nbrSalle }} </p></div>
          <div style="height: 60px;width: 70px;float: left;margin:10px;background-color:rgb(197, 206, 214);"> <i class="fa fa-car fa-3x" style="  color: black;"></i><p style="text-align: center;">{{etage?.nbrGarage }} Place</p>   </div>
       </div></section>
       <section  class="col-md-9">
    <div *ngFor="let img of imagesEtage ">
        <div  class="col-md-3">
     <img [src]="getImage(img?.image)" style="width: 26rem;height: 26rem;padding: 30px; " alt="">
        </div>
    </div> 
  </section>
  <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addProC1ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addProC1ModalLabel">Remplissez  les champs s'il vous plait </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddClient(addForm)">
            <div class="form-group">
               <label for="Nom">Nom</label>
               <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="le Nom" required>
            </div>
            <div class="form-group">
               <label for="prenom">Prenom</label>
               <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="le Prenom" required>
            </div>
         
            <div class="form-group">
               <label for="nni">NNI </label>
               <input type="number" ngModel name="nni" class="form-control" id="nni" placeholder=" " required>
            </div>
          
            <div class="form-group">
               <label for="telephone">Telephone</label>
               <input type="text" ngModel name="telephone" class="form-control" id="telephone" placeholder="telephone " required>
            </div>
         
            <div class="form-group">
              <label for="telephone">Duree de réservation</label>
              <select type="number" [(ngModel)]="this.dureeDeReservation"  class="form-control"  placeholder="telephone " required>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
              </select>
              </div>
            <div class="modal-footer">
               <button type="button" id="add-Client-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Envoi demande</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
    </div>
</div>
 

 










