
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">LISTE DE DEMANDE DE RESERVATION</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
          </li>
      </ul>
      <div class="search-container">
      <form class="form-inline my-2 my-lg-0" >
         <input type="search" style="float: left; clear: both;" (ngModelChange)="searchDemande(key.value)" #key="ngModel" ngModel
          name="key" id="searchName" class="form-control mr-sm-2" placeholder="cherchere immobilier..." required>
      </form>
     </div>
   </div>
 </nav>
<div id="all">

<div class="container" id="main-container" >
  <div class="row">
    <div *ngFor="let reservation of reservationinternes" class="col-md-6 col-xl-3" style="margin-top: 30px;">
       <div class="card m-b-30">
          
          <ul class="list-group list-group-flush">
            
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>id Annonce : {{reservation?.idAnnonce}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>id  Client : {{reservation?.idClient}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>date de reservation : {{reservation?.date}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>etat de reservation : {{reservation?.etats}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>duree de reservation : {{reservation?.duree}}</li>

        </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                 <a   class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                <a *ngIf="reservation.etats=='En attent'" (click)="onAccepte(reservation)" class="btn btn-success tooltips" data-placement="top" data-original-title="Delete">Accepter</a>
                <button  *ngIf="gettypeAnnonce(reservation.idAnnonce)=='Location' && reservation?.etats!='traite' && reservation?.etats=='Accepte'" (click)="onOpenModal(reservation)" class="btn btn-success tooltips" data-placement="top" data-original-title="Delete">Passer au location</button>
                <button  *ngIf="gettypeAnnonce(reservation.idAnnonce)=='Vente' && reservation?.etats!='traite' && reservation?.etats=='Accepte'" (click)="PasserAuVente(reservation)" class="btn btn-success tooltips" data-placement="top" data-original-title="Delete">Passer au vente</button>

               </div>
          </div>
       </div>
    </div>
   </div>
  
 </div>  

  <!-- Add Location Modal -->
  <div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addUserModalLabel">Ajouter Reservation</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addLocation="ngForm" (ngSubmit)="passerAuLocation(addLocation)">
              <div class="form-group">
                 <label for="dateDebut">Deta de debut</label>
            <input type="date" ngModel name="dateDebut" id="dateDebut" class="form-control">
               </div>
           <div class="form-group">
              <label for="dateFin">Date De fint </label>
              <input type="date" ngModel name="dateFin" id="dateFin" class="form-control">
            </div>
          
           <div class="form-group">
              <label for="montEncais">montant an caisser</label>
              <input type="number"ngModel name="montEncais" id="montEncais" class="form-control">               
            </div>
        
           <div class="modal-footer">
              <button type="button" id="add-Location-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addLocation.invalid" type="submit" class="btn btn-primary" >valider La location</button>
           </div>
           </form>
        </div>
     </div>
   </div>
   </div>
 
   
  <!-- Notification for no employees -->
  <div *ngIf="reservationinternes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
     <br>
   <div class="alert alert-info" role="alert">
     <h4 class="alert-heading">!!</h4>
     <p>No Annonce trouver</p>
   </div>
   </div>
</div>