


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li routerLinkActive="active">
        <a routerLink="annonce-list">Annonces</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
      <li *ngIf="!isAuth"routerLinkActive="active">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>

      <li *ngIf="!isAuth" routerLinkActive="active">
        <a routerLink="auth/signin">Connexion</a>
      </li>

      <li *ngIf="isAuth">
          <a routerLink="profile/{{ProConnect?.id}}"  style="cursor:pointer">
             <img alt="profile-image" class="special-img"
             [src]="getImage(ProConnect?.img)" />
            </a>
        </li>


    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>