.navbar-nav>li>a.profile-image {
    padding-top: 20px;
    padding-bottom: 20px;
}


.special-img{
  position: relative;
  top: 9px;
  float: left;
  left: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
             }



@media (min-width: 208px){
  .navbar-nav{
      margin: 10 auto;
      padding: 10 auto;
      display: table;
      table-layout: fixed;
      float:none;
      
  }
  .navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
    
  }

  img{
  position: relative;
  top: -12px;
  float: left; 
  right: 15px;
  position: relative;
  }
  }
