


<body style="background-image: url('bg2.jpg');">
<p></p><br>
<div class="container" id="container">
		
	<div class="form-container sign-in-container" >
		<form  [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-group" >
			<h1>Connection</h1>
			<div class="social-container">
			</div>
			<span>remplire les chaaamps</span>
			<input type="text" placeholder="username" formControlName="username"  required/>	
			<input type="password" formControlName="password" placeholder="password" required/>

			<p class="text-danger"  ng-if="errorMessage" >{{errorMessage}}</p>
			<button   type="submit"  [disabled]="signInForm.invalid" >
				connection</button>
				<a href="#">mot de pass oublier?</a>
		</form>
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
        <img src="bg3.png" width="400px" height="400px">
			</div>
		</div>
	</div>
</div>

</body>


