<div class="container">
    <div class="main-body">
     <div class="row">
          <!-- /Breadcrumb -->
    <section class="col-md-4">
          <div class="row gutters-sm">
            <div class="col-md-7  ">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img [src]="getImage2()" alt="Admin" class="rounded-circle" width="150px">
                    <div class="mt-3">
                      <h4>{{ProC2Connect?.nom}} {{ProC2Connect?.prenom}}</h4>
                      <p class="text-secondary mb-1">Propriétaire immobilier</p>
                      <p class="text-muted font-size-sm"></p>
                      <form  (ngSubmit)="onSignOut()" >
                      <button class="btn btn-outline-secondary" type="submit">Deconnexion</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div> 
              <!---->
            </div>
            </div>

            </section>
            <section class="col-md-8">
            <div class="row-md-12">
              <nav class="navbar navbar-light bg-light">
  
                <form class="form-inline">
              
                  <a class="nav-link" (click)="opendemande(true)" >LISTE DE DEMANDE</a> |
                  <a class="nav-link"  (click)="opendemande(false)" >LISTE IMMOBILIER </a> 
                  
                </form>
              </nav>

             <div *ngIf="onAfficheDemande">
              <div  *ngFor="let demandeReservation of demandeReservations" class="col-md-6 col-xl-4">
                <div class="card mb-30"  style="border-radius: 7px; border-color: rgb(65, 127, 151);border-width: 2px;">
                   <div class="card-body row">
                     
                      <div class="col-12 card-title align-self-center mb-0">
                         <p style="color: rgba(58, 8, 54, 0.938); size: 20px;text-shadow: greenyellow; "><b>Demande de reservation </b></p>
                         <h4 style="color: rgb(34, 44, 34);">Le : {{ demandeReservation?.date}}</h4>
                         <h4 style="color: rgb(34, 44, 34);">date fin : {{ demandeReservation?.date}}{{getimmob(demandeReservation?.idAnnonce)}}</h4>
                      </div>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item"> le client {{getclient(demandeReservation?.idClient)}} <b style="color:rgb(43, 71, 197);">  {{currentClient?.nom}}  {{currentClient?.prenom}} </b><br>
                      telephone : <b style="color:rgb(158, 121, 19);">{{currentClient?.telephone}}</b><br>
                       Adresse Immobiler :<b style="color:rgb(158, 121, 19);">  {{this.curentimmobilierbati?.adresse}} </b> <br>
                    
                    </li>
                       
                     </ul>
                   <div class="card-body" >
                      <div class="float-center btn-group btn-group-sm" style="margin: auto;" >
                         <a  (click)="onAccepte(demandeReservation)" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit" > Accepter </a>
                         <a (click)="onDeleteReservation(demandeReservation?.id)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"  >Reffuser </a>
                        </div>
                   </div>
                </div>
             </div>
              </div>
             <div   *ngIf="!onAfficheDemande">
              <div *ngFor="let immobilierBati of immobilierCurentProc2"  class="col-md-4 col-xl-6">
                <div class="card-group" style="width: 22rem; ">
                  <div class="card md-4"  style="border-radius: 7px; border-color: rgb(65, 127, 151);border-width: 2px;"   >
                     {{getImage(immobilierBati?.id)}}
                    <img class="card-img-top" [src]="this.curentimage"  style="width: 20rem;height: 19rem;" alt="Card image cap" />
                
              
                  <div class="card-body" >
                       <h3 style="margin :auto" class="card-title">{{immobilierBati?.nom}}</h3>
                   </div>
                    <ul class="list-group list-group-flush">
                    <p style="margin: auto;">
                     <li> Adresse   :<b style="color: darkgreen;"> {{immobilierBati?.adresse}} </b>
                      <br>
                      Numero Permie :<b style="color: rgb(6, 17, 53);"> {{immobilierBati?.numeroPermie}}</b>
                     </li></p>
                    </ul>
                
                  </div>
                </div>
              </div>
            </div>

 
            </div>
          </section>
          </div>
        </div>
    </div>